[Unit]
Description=OpenSensor Space Storage Sync
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=pi
Group=pi
WorkingDirectory=/home/pi/enviroplus-python
ExecStart=/home/pi/enviroplus-python/examples/sync_to_storage.sh

# Logging
StandardOutput=append:/home/pi/enviroplus-python/logs/sync_service.log
StandardError=append:/home/pi/enviroplus-python/logs/sync_service_error.log
